// Place all the styles related to the api::carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart-username{
    font-size:40px;
    line-height: 40px;
    font-weight: bold;
}

.cart-flex-container{
    display: flex;
    justify-content: center;
    background-color:#eaeded;
}

.col1, .col2{
    padding: 20px 20px 20px 20px;
    background-color: white;
    margin: 50px 20px 50px 20px ;
    border-radius: 5px;
    
}

.col1{
    // width: 50vw;
    min-height: 1000px;
    width: 65%;
}
.col2{
    justify-content: center;
    width: 15%;
    // border-style: 1px solid lightgrey;

    button{
        width: 100%;
        height: 30px;
        border-radius: 10px;
    }
    height: 200px;
}

.cart-price{
    float: right;
    font-size: 15px;
    color:grey;

}
