
.nav-bar{
    background-color:black;
    color: white;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 15px 4px 10px;
    position: relative;
    min-width: 1500px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: medium;
    height: 75px;
 }


.formSearch{
    display: flex;
} 

// .search-bar{
//     display: flex;
//     flex: 1 1;
// }
.search-box{
    width: 65vw;
    height: 37px;
    border-radius: 5px;
}

.search-button{
    display: flex;
    border-radius: 5px;
    width: 40px;
}
.search-button img{
    width: 15px;
    height: 15px;
    position: relative;
    top: 25%;
    left: 15%;
}

.nav-bar .shopping-cart {
    height: 20px;
    width: 20px;
    // position: relative;
    // left: 100%;
}

.right-flex{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height:inherit;
    align-items: center;
}

.cart{
    margin-right: 15px;
    border: 1px black solid;
    padding: 20px 5px 20px 5px ;
}
.cart:hover{
    border: 1px white solid;
}
.recent-order{
    border: 1px black solid;
    padding: 20px 5px 20px 5px ; 
}
.recent-order:hover{
    border: 1px white solid;
}

.display-wrapper{
    display:flex;
}
.cart-button{
    display: flex;
}

.category-nav-bar{
    background-color:#282c3c;
    color: white;
    margin: 0px;
    align-items: center;
    min-width: 1500px;
    padding: 2px 15px 2px 10px;    
    font-family: 'Roboto', sans-serif;
    font-size: large;
    height: 35px ;

}
.flex-box{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
}
.flex-category{
    display: flex;
    border: 2px solid #d0d0d0 hidden;
    height: 30px;
}
.flex-box a:hover{
    border: 1px solid #d0d0d0;
    
}

p.category-word{
    width: 80px;
    margin-top: 7px;
    text-align: center;
}
p.category-longword{
    width: 150px;
    margin-top: 7px;
    text-align: center;
}