// Place all the styles related to the api::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.review-flex-container div{
    padding-bottom: 5px;
}
.review-header{
    padding-bottom: 10px;
    font-weight: bold;
    width: 600px
}


.review-form-container {
    width: 600px;
    // display: flex;
    // flex-direction: column;
    height: fit-content;
    // border: 1px solid lightgrey;
    border-radius: 5px;
    margin-left: 35%;
    padding: 50px 0px 50px 0px;
    font-size: 20px;
    line-height: 20px;
}

.review-submit-butt{
    button{
        font-size: 17px;

        height: 40px;
        width: 600px;
    }
}

#text-box-area{
    width: 600px;
    height: 100px
}

#text-box{
    width: 600px;
    height: 30px
}

.rating{
    // position: absolute;
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
    top:10%;
    left: 10%;
    margin-left: 0px;
    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.rating input{
    display: none;
}

.rating label{
    display: block;
    cursor: pointer;
    width: 50px;
    /* background-color: antiquewhite; */
}

.rating label:before{
    content: '\f005' ;
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #101010;
}
.rating label:after{
    content: '\f005' ;
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: gold;
    top:0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}



.rating label:hover:after, .rating label:hover ~label:after,.rating input:checked ~label:after{
    opacity: 1;
}
.error-message{
    color: red;
}

.black-star:before{
    content: '\f005';
    font-family: fontAwesome;

}
.gold-star:before{
    content: '\f005';

    color: gold;
    font-family: fontAwesome;
    
}
.half-star:before{
    content: '\f005';
    font-family: fontAwesome;
}

.overall-stars{
    display: flex;
    padding-left: 20px;

}

.overall-customer{
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    text-decoration: underline;
    
}

.total-ratings{
    color: grey;
    padding-left: 20px;
}

.ratings-stars{
    display: flex;
}

.review-item{
    padding-bottom: 20px;
    border-bottom: 1px gray solid;
}

.review-description{
    font-weight: bold;
}

.review-index{
    width: 700px;
}