// Place all the styles related to the api::transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.transaction-flex{
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 50px 23%;
}
    
.transaction-flex>* {
    flex: 0 0 25%;
    height: 300px;
    padding: 30px;
}

.transaction-product-name{
    font-size: 15px;
    line-Height: 15px;
    font-weight: bold;
    height: 80px;
}
.write-review-button{
    width:100%
}

.transaction-image{
    padding: 10px 10px 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}